source "/home/erbj/esp/v5.1.6/esp-idf/components/bootloader/Kconfig.projbuild"
source "/home/erbj/esp/v5.1.6/esp-idf/components/esp_app_format/Kconfig.projbuild"
source "/home/erbj/esp/v5.1.6/esp-idf/components/esp_rom/Kconfig.projbuild"
source "/home/erbj/esp/v5.1.6/esp-idf/components/esptool_py/Kconfig.projbuild"
source "/home/erbj/esp/v5.1.6/esp-idf/components/partition_table/Kconfig.projbuild"
source "/home/erbj/lvgl-projects/lvgl_esp32_template/main/Kconfig.projbuild"